.content {
    background-color: #d2e1ec;
    background-image: -webkit-linear-gradient(top, #bbcfe1 0%, #e8f2f6 80%);
    background-image: linear-gradient(to bottom, #bbcfe1 0%, #e8f2f6 80%);
}

.content-info {
    height: 424px;
    border-radius: 5px;
    background-color: #fff;
    margin: 20px;
}